# # # Ignore Mac system files
# # .DS_store

# # Ignore node_modules folder
# node_modules
vendor
# /classes/Environment.class.php
# Ignore all text files
*.txt

# Ignore files related to API keys
.env
env.php

# # Ignore SASS config files
# .sass-cache