@import 'default.scss';
@import 'professors.scss';
.nav__Button{
   position:absolute;
   margin-right:auto;
   top:0;
   height:100%;
   width:10%;
   display:grid;
   place-items: center;
   button{
      padding: .5em .7em;
   }
}
.dashboard{
   padding: 1em;
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   gap:1em;
   &__Card{
      background:red;
      min-height:250px;
      img{
         height:100%;
         width:100%;
      }
   }
}
