@import "default.scss";
@import "schedules.scss";
@import "variables.scss";

.dashboard {
  display: grid;
  place-content: center;
  &__Container {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 250px));
    grid-template-rows: repeat(2, minmax(120px, 250px));
    gap: 1em;
  }
  &__Card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    &:hover img {
      border-color: var(--color-background-dark);
    }
    img {
      height: 55%;
      width: 50%;
      border: 2px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      transition: border-color 0.3s ease-in-out;
    }
    h3 {
      font-family: "Times New Roman", Times, serif;
    }
  }
}
.profile {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  justify-content: space-evenly;
  div {
    width: 100%;
    padding: 1rem 2rem;
    &:first-child {
      border-right: 1px solid rgb(182, 182, 182);
    }
    form {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      label {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
      input {
        width: 15rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid #d8d8e8;
        border-radius: 4px;
        &:focus,
        &:hover {
          border-color: var(--color-background-light);
        }
      }
      span {
        margin-bottom: 0.7rem;
        color: red;
        font-size: 0.8rem;
      }
      button {
        margin: 0.5rem 0;
        padding: 0.5rem 0.75rem;
        width: 15rem;
        color: white;
        border-radius: 5px;
        background: linear-gradient(
          to right,
          var(--color-background-light) 0%,
          var(--color-text-light) 50%,
          var(--color-background-dark) 100%
        );
        background-size: 600%;
        &:hover {
          animation-name: gradient;
          animation-duration: 2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100%;
        }
      }
    }
  }
}
