@import 'default.scss';
@import 'professors.scss';
@import 'rooms.scss';
.nav__Button{
   position:absolute;
   margin-right:auto;
   top:0;
   height:100%;
   width:10%;
   display:grid;
   place-items: center;
   button{
      padding: .5em .7em;
   }
}
.dashboard{
   padding: 1em;
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   gap:1em;
   &__Card{
      display:flex;
      flex-direction:column;
      justify-content: space-evenly;
      align-items: center;
      height:200px;
      box-shadow: 0px 0px 6px 6px rgba(181,181,181,.7);
      img{
         height:55%;
         width:50%;
      }
      
   }
}
