* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  height: 100vh;
  font-size: 16px;
}
body {
  height: 100%;
  line-height: 1.5;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  ul {
    list-style: none;
  }
  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: none;
    outline: none;
  }
  .button {
    cursor: pointer;
    height: 35px;
    width: 68px;
    border: none;
    text-decoration: none;
    outline: none;
    display: grid;
    place-content: center;
    padding: 0.3rem 0;
    color: var(--color-text-light);
    &:hover {
      color: white;
    }
  }
  main {
    flex-grow: 1;
    padding: 0 2rem;
  }
}
a {
  text-decoration: none;
}

.nav {
  // background: rgb(1, 72, 135);
  background: linear-gradient(to right, var(--color-background-light) 0%, var(--color-background-dark) 100%);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 3rem;
  a,
  button {
    color: var(--color-background-dark-grey);
    background: none;
    font-size: 1rem;
    &:hover {
      color: white;
    }
  }
  .nav__Home {
    position: relative;
    display: grid;
    place-content: center;
    span {
      position: relative;
      left: 1.6rem;
      &::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        mask: url("../drawables/icons/home.svg");
        mask-repeat: no-repeat;
        background: var(--color-text-light);

        position: absolute;
        left: -1.5rem;
      }
      &:hover::before {
        background: white;
      }
    }
  }
  &__Year {
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    display: grid;
    place-content: Center;
  }
  &__Profile {
    display: grid;
    place-content: center;
    position: relative;
    padding: 0.25rem 1rem;
    border-left: 1px solid rgb(190, 190, 190);
    height: inherit;
    .nav__User {
      padding: 0 0.3rem;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 0.5rem);
        border: solid var(--color-background-dark-grey);
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
        padding: 0.3rem;
      }
    }
    ul {
      position: absolute;
      left: 0;
      top: 100%;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--color-background-dark);

      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      li {
        padding: 0.5rem 0.25rem;
        &:hover {
          background: rgba(0, 0, 0, 0.25);
        }
      }
    }
    &:hover ul {
      opacity: 1;
      visibility: visible;
    }
  }
}
.card__Design {
  color: black;
  text-decoration: none;
}
.module {
  display: grid;
  grid-template: auto 1fr/ 1fr;
  a {
    text-decoration: none;
  }
  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0.25rem;
    .module__Return {
      position: relative;
      color: black;
      display: flex;
      align-items: center;
      gap: 0.3em;
      width: 100px;
      &:hover {
        text-decoration: underline;
      }
    }
    .module__Logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 70px;
        height: 70px;
        border: 1px solid black;
        border-radius: 50%;
        transition: border-color 0.2s ease-out;
        &:hover {
          border-color: rgba(0, 170, 255, 1);
        }
      }
      a {
        text-transform: capitalize;
        width: 100%;
        color: #111;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          height: 90%;
          width: 100%;
          left: 0;
          border-bottom: 2px solid var(--color-background-dark);
          transform: translateX(-100%);
          transition: transform 0.3s ease-in;
        }
        &:hover::before {
          transform: translateX(0%);
        }
      }
    }

    .module__Links {
      display: flex;
      justify-content: space-evenly;
      width: 100px;
      a {
        position: relative;
        span {
          font-size: 1rem;
          text-transform: capitalize;
          visibility: hidden;
          width: 120px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 2;
          bottom: 125%;
          left: 50%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
        }
        &:hover span {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .liveSearch__Form {
      background: red;
      input {
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1rem;
        padding: 7px 0;
        &:focus {
          border-color: rgba(0, 170, 255, 1);
        }
      }
    }
  }
  &__Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
  }
  &__Table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    th {
      background-color: rgb(235, 235, 235);
    }
    tr {
      &:nth-child(even) {
        background-color: rgb(245, 245, 245);
      }
    }
    td,
    th {
      border: 1px solid rgb(190, 190, 190);
      padding: 0.25em 0.5em;
    }
    td {
      text-align: center;
    }

    caption {
      padding: 10px;
    }
    .prof-image {
      img {
        height: 2rem;
      }
    }
    .table-actions {
      display: flex;
      justify-content: space-around;
      min-width: 5rem;
      width: 50%;
      max-width: 200px;
      margin: 0 auto;
      form,
      a {
        position: relative;
        margin: 0.5rem;
        &:hover span {
          visibility: visible;
          opacity: 1;
        }
      }
      form button,
      a {
        background: none;
        height: 24px;
        width: 24px;
      }

      span {
        width: 100px;
        color: #fff;
        background-color: #555;
        z-index: 99;
        visibility: hidden;
        text-align: center;
        text-transform: capitalize;
        padding: 5px 0;
        border-radius: 6px;

        position: absolute;
        bottom: 125%;
        left: 50%;
        margin-left: -50px;

        opacity: 0;
        transition: opacity 0.3;
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid;
          border-color: #555 transparent transparent transparent;
        }
      }
    }
    .table__Restore {
      width: 100%;
    }
  }
  &__Pages {
    display: grid;
    place-content: center;
    ul {
      display: flex;
      width: 50%;
    }
    a {
      padding: 0.5rem 0.75rem;
      color: #111;
      border: 1px solid var(--color-background-dark);
      transition: background 0.3s;
      &:hover:not(.active) {
        background: var(--color-background-dark-grey);
      }
      &.active {
        background: var(--color-background-dark);
        color: white;
      }
      &.disabled {
        visibility: hidden;
      }
    }
  }
  &__Form {
    z-index: 10000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    overflow: hidden;
    .form__Title {
      background: var(--color-background-dark);
      width: 100%;
      padding: 0.25em 0.25em;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      label {
        color: white;
        font-weight: bold;
      }
      a {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 2rem;
        display: grid;
        place-content: center;
        color: var(--color-text-light);
        transform: scale(1);
        transition: transform 0.1s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .form__RadioContainer {
      padding: 1em;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .form__Container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      width: 100%;
      margin: 1em 0;
      padding: 0 1.5em;
      * {
        font-size: 1rem;
      }
      .form__Input {
        *:not(div) {
          padding: 0.5em 0.75em;
          border: 1px solid #d8d8e8;
          border-radius: 4px;
          width: 100%;
          &:focus,
          &:hover {
            border-color: var(--color-background-light);
          }
        }

        input[type="number"] {
          appearance: none;
        }
        .name {
          width: 140px;
          &--short {
            width: 80px;
          }
        }
      }
    }
    .invisible {
      display: none;
    }
    .form__Error {
      color: red;
      font-size: 0.8rem;
    }
    .btn__Container {
      display: flex;
      align-items: center;
      gap: 2rem;
      .btn__Secondary {
        background: white;
        color: var(--color-background-light);
        border: 1px solid var(--color-background-light);
        &:hover {
          color: white;
          background: Red;
          border-color: transparent;
        }
      }
    }
    .form__Button {
      width: 100px;
      box-shadow: none;
      text-transform: capitalize;
      background: var(--color-background-dark);
      color: #fff;
      font-weight: bold;
      margin: 1rem 0;
      border-radius: 10px;
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
      &:hover {
        color: var(--color-text-light);
      }
    }
  }
  &__formBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    cursor: default;
  }
}

@media screen and (min-width: 1441px) {
  html {
    font-size: 16px;
  }
  .schedules {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}
// @media screen and (max-width: 1440px) {
//   html {
//     font-size: 12px;
//   }
// }
// @media screen and (max-width: 816px) {
//   html {
//     font-size: 10px;
//   }
//   .nav {
//     &__List {
//       width: 100%;
//     }
//   }
//   .schedules {
//     grid-template-columns: 90%;
//     padding: 0;
//     &__Details {
//       display: none;
//     }
//   }
// }
// @media screen and (max-width: 729px) {
//   html {
//     font-size: 8px;
//   }
// }
