*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
   line-height: 1.5;
   height:150vh;
   ul{
      list-style:none; 
   }
   a{
      text-decoration: none;
   }
}
.nav{
   background:#00a8ff;
   position:sticky;
   top:0;
   color:white;
   padding: .7em;
   &__List{
      width:60%;
      display:flex;
      justify-content: space-evenly;
      &--Item{
         cursor:pointer;
         padding: .2em .5em;
         border-radius: 15%;
         &:hover{
            background:rgba(white,0.5);
         }
      }
   }
}
