* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
  font-size: 16px;
}

body {
  height: 100%;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr auto / 1fr;
}

body ul {
  list-style: none;
}

body button,
body .button {
  cursor: pointer;
  height: 35px;
  width: 68px;
  border: none;
  text-decoration: none;
  outline: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 0.3rem 0;
  color: var(--color-text-light);
}

body button:hover,
body .button:hover {
  color: white;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

.nav {
  background: #014887;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  height: 2.5rem;
}

.nav button,
.nav a {
  background: none;
  font-size: 0.9rem;
}

.nav button::before,
.nav a::before {
  content: "";
  width: 24px;
  height: 100%;
  -webkit-mask: url("../drawables/icons/home.svg");
          mask: url("../drawables/icons/home.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background: var(--color-text-light);
  margin-right: 0.2rem;
}

.nav button:hover::before,
.nav a:hover::before {
  background: white;
}

.nav .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .back img {
  margin-right: 0.5rem;
}

.nav__Profile {
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  color: white;
  padding: 0.25rem 1rem;
}

.nav__Profile a {
  color: var(--color-background-dark-grey);
}

.nav__Profile .nav__User {
  padding: 0 0.3rem;
}

.nav__Profile .nav__User::after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 0.5rem);
  border: solid var(--color-background-dark-grey);
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 0.3rem;
}

.nav__Profile ul {
  position: absolute;
  left: 0;
  top: 100%;
  height: auto;
  width: 100%;
  padding: 1rem 0.5rem 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  background: var(--color-background-dark);
}

.nav__Button {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.nav__Button button {
  width: 100%;
}

.card__Design {
  color: black;
  text-decoration: none;
}

.module {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr/ 1fr;
}

.module a {
  text-decoration: none;
}

.module__Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0 0.25rem;
}

.module__Header .module__Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module__Header .module__Logo img {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

.module__Header .module__Logo img:hover {
  border-color: #00aaff;
}

.module__Header .module__Logo a {
  text-transform: capitalize;
  width: 100%;
  color: #111;
  position: relative;
  overflow: hidden;
}

.module__Header .module__Logo a::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  left: 0;
  border-bottom: 2px solid var(--color-background-dark);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.module__Header .module__Logo a:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.module__Header .module__Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
}

.module__Header .module__Links a {
  position: relative;
}

.module__Header .module__Links a span {
  font-size: 1rem;
  text-transform: capitalize;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.module__Header .module__Links a span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.module__Header .module__Links a:hover span {
  opacity: 1;
  visibility: visible;
}

.module__Header .module__Links .module__Return {
  position: relative;
  color: black;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.module__Header .module__Links .module__Return img {
  margin-right: 10px;
}

.module__Header .module__Links .module__Return:hover {
  text-decoration: underline;
}

.module__Header .liveSearch__Form {
  background: red;
}

.module__Header .liveSearch__Form input {
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
}

.module__Header .liveSearch__Form input:focus {
  border-color: #00aaff;
}

.module__Content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.module__Table {
  width: 100%;
  border-spacing: 0;
}

.module__Table tbody tr:nth-child(2n + 2) {
  background: #f0f0f0;
}

.module__Table tbody tr:hover {
  background: var(--color-background-dark);
  color: white;
}

.module__Table td,
.module__Table th {
  border-bottom: 1px solid black;
}

.module__Table .table-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.module__Table .table-actions form,
.module__Table .table-actions a {
  position: relative;
  margin: 0.5rem;
}

.module__Table .table-actions form:hover span,
.module__Table .table-actions a:hover span {
  visibility: visible;
  opacity: 1;
}

.module__Table .table-actions form button,
.module__Table .table-actions a {
  background: none;
  height: 24px;
  width: 24px;
}

.module__Table .table-actions span {
  width: 100px;
  color: #fff;
  background-color: #555;
  z-index: 99;
  visibility: hidden;
  text-align: center;
  text-transform: capitalize;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 115%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  -webkit-transition: opacity 0.3;
  transition: opacity 0.3;
}

.module__Table .table-actions span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #555 transparent transparent transparent;
}

.module__Pages {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.module__Pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.module__Pages a {
  padding: 0.5rem 0.75rem;
  color: #111;
  border: 1px solid var(--color-background-dark);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.module__Pages a:hover:not(.active) {
  background: var(--color-background-dark-grey);
}

.module__Pages a.active {
  background: var(--color-background-dark);
  color: white;
}

.module__Pages a.disabled {
  visibility: hidden;
}

.module__Form {
  z-index: 10000000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 1rem;
  max-height: 90vh;
  max-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 0.8rem;
  -webkit-box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
          box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
  font-size: 1rem;
}

.module__Form .form__Close {
  height: 2rem;
  padding: 0 1rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background: var(--color-background-dark);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module__Form .form__Close a {
  color: var(--color-text-light);
}

.module__Form .form__Close a:hover {
  color: white;
}

.module__Form .form__Title {
  margin: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.module__Form .form__RadioContainer {
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.module__Form .form__Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 100%;
  margin: 1em 0;
  padding: 0 1.5em;
}

.module__Form .form__Container * {
  font-size: 1rem;
}

.module__Form .form__Container .form__Input *:not(div) {
  padding: 0.5em 0.75em;
  border: 1px solid #d8d8e8;
  border-radius: 4px;
  width: 100%;
}

.module__Form .form__Container .form__Input *:not(div):focus, .module__Form .form__Container .form__Input *:not(div):hover {
  border-color: var(--color-background-light);
}

.module__Form .form__Container .form__Input input[type="number"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.module__Form .form__Container .form__Input .name {
  width: 140px;
}

.module__Form .form__Container .form__Input .name--short {
  width: 80px;
}

.module__Form .form__Container .form__Input .form__Error {
  color: red;
  font-size: 0.8rem;
}

.module__Form .form__Button {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: capitalize;
  background: var(--color-background-dark);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1rem;
}

.module__Form .form__Button:hover {
  color: var(--color-text-light);
}

.module__formBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  cursor: default;
}

@media screen and (min-width: 1441px) {
  html {
    font-size: 16px;
  }
  .schedules {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(150px, 1fr) 4fr;
        grid-template-columns: minmax(150px, 1fr) 4fr;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 816px) {
  html {
    font-size: 10px;
  }
  .nav__List {
    width: 100%;
  }
  .schedules {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    padding: 0;
  }
  .schedules__Details {
    display: none;
  }
}

@media screen and (max-width: 729px) {
  html {
    font-size: 8px;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 4em 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f1f1f5;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
          box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
}

.form::before {
  content: "";
  height: 7%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px 10px 0 0;
  background: #014887;
}

.form * {
  font-size: 1.1rem;
}

.form div {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.form .form__Message label {
  font-size: 1.4rem;
}

.form .form__Message p {
  display: none;
}

.form .form__Message span {
  font-weight: bolder;
}

.form__Groups {
  width: 100%;
}

.form__Groups .form__Group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__Groups .form__Field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__Groups .form__Field::-webkit-input-placeholder {
  color: transparent;
}

.form__Groups .form__Field:-ms-input-placeholder {
  color: transparent;
}

.form__Groups .form__Field::-ms-input-placeholder {
  color: transparent;
}

.form__Groups .form__Field::placeholder {
  color: transparent;
}

.form__Groups .form__Field:placeholder-shown ~ .form__Label--placeholder {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__Groups .form__Field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
}

.form__Groups .form__Field:focus ~ .form__Label--placeholder {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.form__Groups .form__Label--placeholder {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  border-color: #00aaff;
}

.form__Groups .form__Field:required, .form__Groups .form__Field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__Error {
  display: block;
  color: red;
  font-size: 0.8rem;
}

.form__Button {
  cursor: pointer;
  width: 60%;
  background: #00aaff;
  color: white;
  border: none;
  border-radius: 1000000px;
  margin: 2em auto 0;
  padding: 0.5em 0.2em;
}

@media screen and (max-width: 768px) {
  .form {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
/*# sourceMappingURL=index copy.css.map */