* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body ul {
  list-style: none;
}

body button, body .button {
  cursor: pointer;
  height: 35px;
  width: 68px;
  border: none;
  text-decoration: none;
  outline: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

body button:hover, body .button:hover {
  text-decoration: underline;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 2em;
}

.nav {
  background: #014887;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 7%;
  padding: .7em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav button, .nav a {
  color: white;
  background: none;
  font-size: .9rem;
}

.nav .back {
  position: relative;
  left: 30px;
}

.nav .back::before {
  content: '';
  position: absolute;
  top: calc(50% - 8px);
  left: -5px;
  height: 12px;
  width: 12px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__Button {
  position: absolute;
  top: 0;
  right: 2em;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.nav__Button button {
  width: 100%;
}

.card__Design {
  color: black;
  text-decoration: none;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.module a {
  text-decoration: none;
}

.module__Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em 0;
}

.module__Header img {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.module__Header a {
  background: #00aaff;
  color: white;
  border-radius: 20px;
  position: relative;
  right: 4em;
  font-weight: bold;
}

.module__Container {
  height: 87%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.module__List {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.module__Title li {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.module__Item {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: .3em 0;
  border-right: 1px solid black;
}

.module__Item a {
  color: black;
}

.module__Item a:hover {
  text-decoration: underline;
}

.module__Item:last-child {
  border: none;
}

.module__Item:last-child button {
  font-size: 1rem;
  background: none;
}

.module__Form {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 0;
  width: 500px;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-top: 1px solid #f1f1f5;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
          box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
}

.module__Form label {
  text-transform: uppercase;
  font-weight: bold;
}

.module__Form .form__Close {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-content: center;
  top: .5em;
  right: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.module__Form .form__Close:active {
  background: rgba(0, 0, 0, 0.25);
  color: black;
}

.module__Form .form__Title {
  margin-bottom: 1em;
}

.module__Form input, .module__Form select, .module__Form button {
  border: 1px solid #2283CA;
  border-radius: 10px;
  padding: .5em .7em;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.module__Form .form__Input {
  width: 236px;
  text-align: center;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.module__Form .form__Error {
  color: red;
  font-size: .85rem;
}

.module__Form div {
  width: 236px;
  margin: .5em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module__Form button {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
}

.module__formBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .nav__List {
    width: 100%;
  }
}

.Schedule {
  height: 350px;
  width: 500px;
}

.Schedule img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */