* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5;
}

body ul {
  list-style: none;
}

body button {
  cursor: pointer;
  background: #00aaff;
  color: white;
  border-radius: 1000000px;
  padding: .5em .2em;
}

body main {
  position: relative;
}

.nav {
  background: #014887;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: .7em;
  z-index: 100;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav__Burger {
  z-index: 2;
  width: 32px;
  height: 32px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}

.nav__Burger::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 50%;
  opacity: 0;
}

.nav__Burger:active::before {
  opacity: 0.25;
}

.nav__Burger--Line {
  height: 4px;
  width: 100%;
  background: white;
}

.nav__Logo {
  margin-right: auto;
  position: absolute;
  height: 100%;
  top: 0;
  left: 1em;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav__Logo img {
  max-width: 180px;
  max-height: 31px;
}

.nav__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15%;
  background: #2C384A;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.nav__List.open {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__List--Item {
  cursor: pointer;
  padding: .2em .5em;
  border-radius: 10px;
}

.nav__List--Item:hover, .nav__List--Item:active {
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .nav__List {
    width: 100%;
  }
}

.professors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.professors__Title {
  font-weight: bolder;
  text-transform: uppercase;
}

.professors__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
  border-bottom: 1px solid #00aaff;
  padding-bottom: 1em;
}

.professors__Add {
  display: -ms-grid;
  display: grid;
  color: white;
  place-content: center;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 99;
  width: 48px;
  height: 48px;
  background: #00aaff;
  border-radius: 50%;
  font-size: 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.professors__Add:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav__Button {
  position: absolute;
  margin-right: auto;
  top: 0;
  height: 100%;
  width: 10%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav__Button button {
  padding: .5em .7em;
}
/*# sourceMappingURL=index.css.map */