@import 'default.scss';

.form{
   position:absolute;
   top:calc(50% - 150px);
   left:calc(50% - 180px);
   width: 360px;
   min-height: 300px;
   display:flex;
   flex-direction:column;
   justify-content: space-evenly;
   align-items: center;
   border-top: 1px solid #f1f1f5;
   padding: 1em 0;
   box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
   &::before{
      content:'';
      height:10%;
      width:100%;
      position:absolute;
      top:0;
      background:rgba(0,170,255,1);
   }
   *{
      font-size:1.1rem;
   }
   div{
      position:relative;
      display:grid;
      place-content: center;
   }
   .form__Message{
      label{
         font-size:1.4rem;
      }
      p{
         display:none;
      }
      span{
         font-weight: bolder;
      }
   }
   &__Label--focus{
      position:relative;
      bottom: -2.5em;
      opacity: 0.6;
      cursor: text;
      transition: .3s ease-out;
   }
   &__Input{
      border:none;
      border-bottom:1px solid rgba(0,170,255,0.2);
      padding: 1em 0 .3em;
      &:focus{
         border-bottom-color:rgba(0,170,255,1);
      }
      &:focus-within .form__Label--focus{
         opacity:1;
         font-size:0.95rem;
         transform: translateY(-100%);
      }
      input:invalid {
         box-shadow: none;
      }
   }
   &__Signin--display{
      display:none;
   } 
   &__Error{
      display:block;
      color:red;
      font-size:0.8rem;
   }
   &__Button{
      cursor:pointer;
      width:60%;
      background: rgba(0,170,255,1);
      color:white;
      border:none;
      border-radius:1000000px;
      margin: 0 auto;
      padding: .5em .2em;
   }

}