* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

body button {
  cursor: pointer;
  background: #00aaff;
  color: white;
  border-radius: 1000000px;
  padding: .5em .2em;
}

.nav {
  background: #00a8ff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: .7em;
}

.nav__Burger {
  z-index: 2;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}

.nav__Burger::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 50%;
  opacity: 0;
}

.nav__Burger:active::before {
  opacity: 0.25;
}

.nav__Burger--Line {
  height: 4px;
  width: 100%;
  background: white;
}

.nav__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background: rgba(0, 170, 255, 0.1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav__List.open {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__List--Item {
  cursor: pointer;
  padding: .2em .5em;
  border-radius: 10px;
}

.nav__List--Item:hover, .nav__List--Item:active {
  background: rgba(255, 255, 255, 0.5);
}

.form {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 180px);
  padding: 1em 0;
  width: 360px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f1f1f5;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.7);
          box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.7);
}

.form::before {
  content: '';
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px 10px 0 0;
  background: #00aaff;
}

.form * {
  font-size: 1.1rem;
}

.form div {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.form .form__Message label {
  font-size: 1.4rem;
}

.form .form__Message p {
  display: none;
}

.form .form__Message span {
  font-weight: bolder;
}

.form__Label--focus {
  position: relative;
  bottom: -2.5em;
  opacity: 0.6;
  cursor: text;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.form__Input input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 170, 255, 0.2);
  padding: 1em 0 .3em;
}

.form__Input:focus {
  border-bottom-color: #00aaff;
}

.form__Input:focus-within .form__Label--focus {
  opacity: 1;
  font-size: 0.95rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.form__Input input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__Signin--display {
  display: none;
}

.form__Error {
  display: block;
  color: red;
  font-size: 0.8rem;
}

.form__Button {
  cursor: pointer;
  width: 60%;
  background: #00aaff;
  color: white;
  border: none;
  border-radius: 1000000px;
  margin: 0 auto;
  padding: .5em .2em;
}
/*# sourceMappingURL=login.css.map */