html {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.schedules {
  place-content: center;
}
.nav,
.schedules__Details {
  display: none;
}
.schedules__Table {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  td,
  th,
  tr {
    font-size: 1.5rem;
    height: 2rem;
  }
  tr {
    height: 2rem;
  }
  .slot {
    a {
      background: rgba(yellow, 0.4);
    }
  }
}
.nav {
  * {
    display: none;
  }
}
.module__Header {
  display: none;
}
.module__Content {
  table,
  .module__Pages {
    display: none;
  }
}
#iframe {
  display: block;
}
#checklistSubjects {
  .module__Links,
  .module__Actions {
    display: none;
  }
  .module__Links button {
    visibility: hidden;
  }
  .module__Logo {
    grid-column: 1/4;
  }
  .module__Content {
    margin: 0;
    .module__Table {
      display: table;
      width: 100%;
      tr {
        th,
        td {
          &:first-child {
            border-left: 1px solid rgb(122, 122, 122);
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
