.professors{
    display:flex;
    flex-direction: column;
    a{
        text-decoration: none;
    }
    &__Container{
        height:87%;
        width:auto;
        display:flex;
        flex-direction: column;
        border: 1px solid black;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    &__List{
        width:100%;
        display:grid;
        grid-template-columns: minmax(150px,180px) minmax(150px,500px) repeat(4,minmax(150px,180px));
        padding: .25em 0;
        margin: 0 auto .5em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
    &__Title{

    }
    &__Item{
        text-align: center;
    }
    &__Add{
        align-self: flex-end;
       
        margin: 1em 0;
        transform: scale(1);
        &:active{
            transform: scale(1.2);
        }
    }
    &__Form{
        z-index:2;
        position:fixed;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        padding: 1em 0;
        width: 500px;
        min-height: 450px;
        display:flex;
        flex-direction:column;
        align-items: center;
        background: white;
        border-top: 1px solid #f1f1f5;
        border-radius: 10px;
        box-shadow: 2px 6px 6px 6px rgba(181,181,181,.7);
        label{
            text-transform: uppercase;
            font-weight: bold;
        }
        .form__Close{
            position:absolute;
            display:grid;
            place-content: center;
            top:.5em;
            right:1em;
            width:30px;
            height:30px;
            border-radius: 50%;
            &:active{ 
                background:rgba(0, 0, 0, 0.25);
                color:black;
            }
        }
        .form__Title{
            margin-bottom: 1em;
        }
        input,select,button{
            border: 1px solid #2283CA;
            border-radius: 10px;
            padding: .5em .7em;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .form__Input{
            width: 236px;
            text-align: center;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .form__Error{
            color:red;
            font-size: .85rem;
        }
        div{
            width: 236px;
            margin: .5em 0 1em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        button{
            width:100px;
            box-shadow:none;
        }
    }
    &__formBackground{
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1px);
        cursor:default;
    }
}