.professors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.professors__Title {
  font-weight: bolder;
  text-transform: uppercase;
}

.professors__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
  border-bottom: 1px solid #00aaff;
  padding-bottom: 1em;
}

.professors__Add {
  display: -ms-grid;
  display: grid;
  color: white;
  place-content: center;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 99;
  width: 48px;
  height: 48px;
  background: #00aaff;
  border-radius: 50%;
  font-size: 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.professors__Add:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.professors__Form {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 0;
  width: 500px;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-top: 1px solid #f1f1f5;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
          box-shadow: 2px 6px 6px 6px rgba(181, 181, 181, 0.7);
}

.professors__Form label {
  text-transform: uppercase;
  font-weight: bold;
}

.professors__Form .form__Title {
  margin-bottom: 1em;
}

.professors__Form input, .professors__Form select, .professors__Form button {
  border: 1px solid #2283CA;
  border-radius: 10px;
  padding: .5em .7em;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.professors__Form .form__Input {
  width: 236px;
  text-align: center;
  margin: .3em 0;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.professors__Form div {
  width: 236px;
  margin: .5em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.professors__Form button {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.professors .form__Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
/*# sourceMappingURL=professors.css.map */