.schedules {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0;
  .module__Form {
    width: 50vw;
    font-size: 1rem;
    .form__Error {
      color: red;
      font-size: 0.8rem;
    }
    .form__TimeContainer {
      display: flex;
      width: 50%;
      justify-content: space-around;
      select {
        span {
          display: none;
        }
      }
    }
    .form__DayContainer {
      display: flex;
      input {
        visibility: hidden;
        &:checked + label {
          background: rgba(0, 170, 255, 1);
          color: white;
        }
      }
      label {
        user-select: none;
        cursor: pointer;
        display: grid;
        place-content: center;
        text-transform: capitalize;
        height: 28px;
        width: 28px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin: 0.4em;
      }
    }
    .btn__Container {
      display: flex;
      gap: 2rem;
      .btn__Delete {
        background: white;
        color: var(--color-background-light);
        border: 1px solid var(--color-background-light);
        &:hover {
          color: var(--color-background-dark);
          border: 1px solid var(--color-background-dark);
        }
      }
    }
  }
  &__Details {
    background: var(--color-text-light);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 1rem;
    padding-left: 2rem;
    .schedules__Actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    .schedules__Action {
      display: flex;
      align-items: center;
      position: relative;
      color: black;
      height: 3rem;
      width: auto;
      margin: 0;
      padding: 0;
      background: 0;
      img {
        padding-right: 0.3rem;
      }
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
    .schedules__Information {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.3rem;
        margin-bottom: 1rem;
        img {
          height: 5rem;
          width: 5rem;
        }
        span {
          vertical-align: super;
        }
      }
      a {
        align-self: flex-end;
      }
    }
    .schedules__Settings {
      background: pink;
      display: none;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          background: red;
          width: 75%;
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
      }
    }
    button,
    .schedules__Add {
      box-shadow: none;
      text-transform: capitalize;
      color: white;
      font-weight: bold;
      border-radius: 10px;
      font-size: 1rem;
      margin: 1rem 0;
      padding: 0.5rem 0.75rem;
      position: relative;
      background: var(--color-background-dark);
      &:hover {
        background: var(--color-background-light);
      }
    }
  }
  &__Table {
    margin-top: 0.5rem;
    min-height: 323px;
    table {
      width: 100%;
      border-spacing: 0;
    }
    td,
    th {
      min-width: 5rem;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      text-align: center;
      padding: 0.25rem 0;
    }
    tr {
      height: 1.5rem;
    }
    .table__Caption {
      display: none;
      height: 3rem;
      background: var(--color-background-light);
      color: white;
    }
    th {
      background: var(--color-background-dark);
      color: white;
      resize: both;
      overflow: auto;
    }
    .table__Time {
      font-size: 0.8rem;
    }
    .slot {
      position: relative;
      font-size: 0.8rem;
      a {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        background: rgba(yellow, 0.4);
        &:hover {
          background: rgba(black, 0.2);
        }
        span {
          text-transform: capitalize;
        }
      }
    }
  }
  &__Subjects {
    font-size: 0.9rem;
    padding: 1em;
    form {
      display: flex;
      flex-direction: column;
      input {
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1rem;
        padding: 7px 0;
        &:focus {
          border-color: rgba(0, 170, 255, 1);
        }
      }
    }
    #searchSubjects__Results {
      margin-top: 1em;
      background: white;
      border: 1px solid black;
      max-height: 70vh;
      overflow: auto;
      li {
        cursor: pointer;
      }
    }
  }
}
