.schedules {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.schedules .module__Form {
  width: 50vw;
  font-size: 1rem;
}

.schedules .module__Form .form__TimeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.schedules .module__Form .form__TimeContainer select span {
  display: none;
}

.schedules .module__Form .form__DayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.schedules .module__Form .form__DayContainer input {
  visibility: hidden;
}

.schedules .module__Form .form__DayContainer input:checked + label {
  background: #00aaff;
  color: white;
}

.schedules .module__Form .form__DayContainer label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-transform: capitalize;
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0.4em;
}

.schedules .module__Form .btn__Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.schedules .module__Form .btn__Container .btn__Delete {
  background: white;
  color: var(--color-background-light);
  border: 1px solid var(--color-background-light);
}

.schedules .module__Form .btn__Container .btn__Delete:hover {
  color: var(--color-background-dark);
  border: 1px solid var(--color-background-dark);
}

.schedules__Details {
  padding: 0 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

.schedules__Details .schedules__Information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedules__Details .schedules__Information div span {
  vertical-align: super;
}

.schedules__Details .schedules__Settings {
  background: pink;
}

.schedules__Details .schedules__Settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedules__Details .schedules__Settings form div {
  background: red;
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.schedules__Details .schedules__Settings form button {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  background: #00aaff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1em;
}

.schedules__Details .schedules__Settings form button:hover {
  background: rgba(0, 170, 255, 0.6);
}

.schedules__Table {
  min-height: 323px;
}

.schedules__Table table {
  width: 100%;
  border-spacing: 0;
}

.schedules__Table td,
.schedules__Table th {
  min-width: 5rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.25rem 0;
}

.schedules__Table tr {
  height: 1.5rem;
}

.schedules__Table caption {
  height: 3rem;
  background: var(--color-background-light);
  color: white;
}

.schedules__Table th,
.schedules__Table .table__Time {
  background: var(--color-background-dark);
  color: white;
}

.schedules__Table .slot {
  position: relative;
  font-size: 0.8rem;
}

.schedules__Table .slot a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 0, 0.4);
}

.schedules__Table .slot a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.schedules__Table .slot a span {
  text-transform: capitalize;
}

.schedules__Table .table__Time {
  position: absolute;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  place-content: center;
}

.schedules__Subjects {
  font-size: 0.9rem;
  padding: 1em;
}

.schedules__Subjects form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedules__Subjects form input {
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
}

.schedules__Subjects form input:focus {
  border-color: #00aaff;
}

.schedules__Subjects #searchSubjects__Results {
  margin-top: 1em;
  background: white;
  border: 1px solid black;
  max-height: 70vh;
  overflow: auto;
}

.schedules__Subjects #searchSubjects__Results li {
  cursor: pointer;
}
/*# sourceMappingURL=schedules.css.map */