.schedules {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  padding: 0;
}

.schedules .module__Form {
  width: 50vw;
  font-size: 1rem;
}

.schedules .module__Form .form__Error {
  color: red;
  font-size: 0.8rem;
}

.schedules .module__Form .form__TimeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.schedules .module__Form .form__TimeContainer select span {
  display: none;
}

.schedules .module__Form .form__DayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.schedules .module__Form .form__DayContainer input {
  visibility: hidden;
}

.schedules .module__Form .form__DayContainer input:checked + label {
  background: #00aaff;
  color: white;
}

.schedules .module__Form .form__DayContainer label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-transform: capitalize;
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0.4em;
}

.schedules__Details {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0 1rem;
  padding-left: 2rem;
}

.schedules__Details .schedules__Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.schedules__Details .schedules__Action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: black;
  height: 3rem;
  width: auto;
  margin: 0;
  padding: 0;
  background: 0;
}

.schedules__Details .schedules__Action img {
  padding-right: 0.3rem;
}

.schedules__Details .schedules__Action:hover {
  background: none;
  text-decoration: underline;
}

.schedules__Details .schedules__Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0 1rem;
}

.schedules__Details .schedules__Nav input {
  display: none;
}

.schedules__Details .schedules__Nav input[type="radio"] + label {
  font-style: italic;
  cursor: pointer;
}

.schedules__Details .schedules__Nav input[type="radio"]:checked + label {
  text-decoration: underline;
  font-style: normal;
}

.schedules__Details .schedules__Information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedules__Details .schedules__Information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.schedules__Details .schedules__Information div img {
  height: 5rem;
  width: 5rem;
}

.schedules__Details .schedules__Information div span {
  vertical-align: super;
}

.schedules__Details .schedules__Information a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.schedules__Details .schedules__Settings {
  display: none;
}

.schedules__Details .schedules__Settings form {
  padding-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.schedules__Details .schedules__Settings form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.schedules__Details .schedules__Settings form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.schedules__Details button,
.schedules__Details .schedules__Add {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
  position: relative;
  background: var(--color-background-dark);
}

.schedules__Details button:hover,
.schedules__Details .schedules__Add:hover {
  background: var(--color-background-light);
}

.schedules__Table {
  margin-top: 0.5rem;
  min-height: 323px;
}

.schedules__Table table {
  width: 100%;
  border-spacing: 0;
}

.schedules__Table td,
.schedules__Table th {
  min-width: 5rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.25rem 0;
}

.schedules__Table tr {
  height: 1.5rem;
}

.schedules__Table .table__Caption {
  background: var(--color-background-light);
  color: white;
}

.schedules__Table th {
  background: var(--color-background-dark);
  color: white;
  resize: both;
  overflow: auto;
}

.schedules__Table .table__Time {
  font-size: 0.8rem;
}

.schedules__Table .slot {
  position: relative;
  font-size: 0.8rem;
}

.schedules__Table .slot a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 0, 0.4);
}

.schedules__Table .slot a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.schedules__Table .slot a span {
  text-transform: capitalize;
}
/*# sourceMappingURL=schedules.css.map */